/*Code that is on every page*/

.navbar {
        min-height: 70px;
        width: 100%; 
}

.navbar-brand {
        padding: 15px;
        height: 80px;
        line-height: 80px;
}
    
.navbar-toggle {
        margin-top: 23px;
        padding: 9px 10px 
}
 
.nav-item{
        font-size: 20px;
        padding: 9px 10px; 
        justify-content:centre;
}

.jumbotron{
        padding-bottom: 0;
        margin-bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
}

.footer{
        margin-top: 10rem;
        text-align: center;
        padding: 30px;
        background-color: rgb(233, 233, 122);
        color: black;
        font-style: normal;
}

.fa {
        padding: 20px;
        font-size: 40px;
        width: 60px;
        text-decoration: none;
        margin: 5px 80px;
}

.fa-linkedin {
                background: #007bb5;
                color: white;
}

.fa-pinterest {
        background: #cb2027;
        color: white;
}

.fa-reddit {
        background: #ff5700;
        color: white;
}

/*Index page code start*/

.buttonBox{
        text-align: center;
}

.aboutUs{
        text-align: center;
        padding-left: 25%;
        padding-right: 25%;
}

.aboutUsTitle{
        padding: 1rem;
}

.aboutUsPara{
        font-size: medium;
}

.col-3{
        height: 100%;
}

/*Galleries page code start*/

.galleriesTitle{
        text-align: center;
        padding: 2%;
}

.Videos {
        height: 50rem;
        max-width: 50rem;
        }

/*Meet the team page code start*/

.rowMTT{
        justify-items: center;
}

.col-sm-6{
        justify-content: center;
        padding: 3%;
}

.card-img-top{
        min-width: 30rem;
        max-width: 40rem;
}

.card-title {
        font-weight: bold;
        padding-bottom: 2%;
}

.card-text{
        font-size: medium;
}

/*Make everything okay button code start*/

*
    
    button {
        padding: 20px 30px;
        font-size: 1em;
        width:200px;
        cursor: pointer;
        border: 0px;
        position: relative;
        margin: 20px;
        transition: all .25s ease;
        background: rgb(220, 90, 205);
        color: #fff;
        overflow: hidden;
        border-radius: 10px
    }
    
    .load {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit
    }
    
    .load::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: loading1 1s ease infinite;
        z-index: 10
    }

    
    .load::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px dashed #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: loading1 2s linear infinite;
        z-index: 5
    }
    
    @keyframes loading1 {
        0% {
            transform: rotate(0deg)
        }
    
        100% {
            transform: rotate(360deg)
        }
    }
    
    button.active {
        transform: scale(.85);
    }
    
    button.activeLoading .loading {
        visibility: visible;
        opacity: 1
    }
    
    button .loading {
        opacity: 0;
        visibility: hidden
    }

    .alert {
        text-align: center;
        font-size: 30px;
    }
      
      
  