.navBar{
        display: flex;
        justify-content: center;
        align-items: center;
}

.navBar a{
        text-decoration: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
}

.leftLogo{
        width: 40px;
        height: 40px;
}

.rightLogo{
        width: 40px;
        height: 40px;
}

.pictureBox{
        display: block;
        float: left;
}

.pictureBox ul{
        list-style-type: none;
        padding-right: 80px;
        padding-left: 80px;
}

.pageTitle{
        text-align: center;
        padding: 5%;
}

.aboutUs{
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
}

.aboutUsTitle{
        padding: 1rem;
}

.vidGallery{ 
        display: flex;
}

.picGallery{
        display: flex;
}

.form{
        display: grid;
        margin:auto;
        width: 80%;
}

.cardContainer{
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        padding-left: 10%;
        padding-right: 10%;
}

.card{
        padding: 10%;
}