.navbar {
        min-height: 70px;
        position: fixed;
        width: 100%; 
        
         
}

.navbar-brand {
        padding: 15px;
        height: 80px;
        line-height: 80px;
}
    
.navbar-toggle {
        margin-top: 23px;
        padding: 9px 10px 
}
 
.nav-item{
        font-size: 20px;
        padding: 9px 10px; 
        justify-content:centre;
}

.jumbotron{
        padding-top: 100px;
        background-color: rgba(255, 255, 255, 0.6);
}

.leftLogo{
        width: 40px;
        height: 40px;
}

.rightLogo{
        width: 40px;
        height: 40px;
}

.pictureBox{
        display: block;
        float: left;
}

.pictureBox ul{
        list-style-type: none;
        padding-right: 80px;
        padding-left: 80px;
}

.pageTitle{
        text-align: center;
        padding: 5%;
}

.aboutUs{
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
}

.aboutUsTitle{
        padding: 1rem;
}

.galleriesTitle{
        text-align: center;
        padding: 2%;
}

.Videos {
        width: 400px;
        height: 400px;
        }

.col-3{
        
        height: 100%;
}

.meetTheTeamCards{
        display: grid;
        text-align: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 10%;
        padding-left: 10%;
        padding-right: 10%;
}

.mttcard{
        padding: 10%;
}

.col{
        padding: 100px;
}

.footer{
        text-align: center;
        padding: 30px;
        background-color: rgb(233, 233, 122);
        color: black;
        font-style: normal;
}

.fa {
        padding: 20px;
        font-size: 40px;
        width: 60px;
        text-decoration: none;
        margin: 5px 80px;
}

.fa-linkedin {
                background: #007bb5;
                color: white;
}

.fa-pinterest {
        background: #cb2027;
        color: white;
}

.fa-reddit {
        background: #ff5700;
        color: white;
}



*
    
    button {
        padding: 20px 30px;
        font-size: 1em;
        width:200px;
        cursor: pointer;
        border: 0px;
        position: relative;
        margin: 20px;
        transition: all .25s ease;
        background: rgb(220, 90, 205);
        color: #fff;
        overflow: hidden;
        border-radius: 10px
    }
    
    .load {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: inherit
    }
    
    .load::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: loading1 1s ease infinite;
        z-index: 10
    }
    
    .load::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 3px dashed #fff;
        width: 30px;
        height: 30px;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        animation: loading1 2s linear infinite;
        z-index: 5
    }
    
    @keyframes loading1 {
        0% {
            transform: rotate(0deg)
        }
    
        100% {
            transform: rotate(360deg)
        }
    }
    
    button.active {
        transform: scale(.85);
    }
    
    button.activeLoading .loading {
        visibility: visible;
        opacity: 1
    }
    
    button .loading {
        opacity: 0;
        visibility: hidden
    }

    .alert {
        text-align: center;
        font-size: 30px;
    }
      
      
  